<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTIM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./imputation.component.scss">
</head>
<body>
    <div class="header">
        <nav>
          <a href="http://ctim.cpg.com.tn/portail/">
            <img src="assets/images/logoCPGpng.png" class="logo" alt="Logo">
          </a>
          <ul class="nav-links">
            <li class="dropdown" >
              <a href="javascript:void(0)">Expertises</a>
              <div class="dropdown-content">
                <a href="expertises">View Expertises</a>
                <a href="expertises">Add Expertise</a>
              </div>
            </li>
            <li >
                <a  href="appareils">Appareils</a>
              </li>
              <li >
                <a  href="pieces">Pieces</a>
              </li>
            <li >
              <a  href="imputations">Imputations</a>
            </li>
            <li class="user-menu" >
              <a class="user-button" href="javascript:void(0)">User</a>
              <div class="dropdown-content">
                <a (click)="signout()">Logout</a>
                <a href="utilisateurs">Manage</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    

    <br><br><br>
    <br><br><br>
    <br><br><br>

    <div>
        <div id="search-container">
            <select id="search-category" [(ngModel)]="selectedCategory" (change)="search(searchInput.value)">
                <option [value]="null">UR</option>
                <option *ngFor="let ur of urValues" [value]="ur">{{ ur }}</option>
              </select>
            <input placeholder="search" id="search-input" #searchInput>
            <button id="search-btn" (click)="search(searchInput.value)">Search</button>
        </div>
        
        <div id="table-container">
            <table id="table">
                <thead>
                    <tr>
                        <th (click)="sort('UR')">UR
                            <span [ngClass]="{'arrow-up': sortColumn === 'UR' && sortDirection === 'asc', 'arrow-down': sortColumn === 'UR' && sortDirection === 'desc'}"></span>
                        </th>
                        <th (click)="sort('section')">section
                            <span [ngClass]="{'arrow-up': sortColumn === 'section' && sortDirection === 'asc', 'arrow-down': sortColumn === 'section' && sortDirection === 'desc'}"></span>
                        </th>
                        <th (click)="sort('libelle')">libelle
                            <span [ngClass]="{'arrow-up': sortColumn === 'libelle' && sortDirection === 'asc', 'arrow-down': sortColumn === 'libelle' && sortDirection === 'desc'}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tbody>
                        <tr *ngFor="let imputation of filteredImputationList; let i = index">
                          <td>{{ imputation.UR}}</td>
                          <td>{{ imputation.section }}</td>
                          <td>{{ imputation.libelle }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</body>
</html>
